#landing-text
    display: flex
    flex: 0 1 40vw
    height: 100vh
    justify-content: center
    align-items: center
    text-align: center
    padding-right: 1rem
    padding-left: 1rem
    flex-direction: column
    h1
        font-weight: 400
        font-size: 2.5rem
        margin: 0
    h2
        color: #888
#landing
    background-image: radial-gradient(white 20%, #f0dfdf)
.ascii-face
    background: url("/images/Krzysztof_Ruczkowski_Circle.png")
    background-position: center
    background-repeat: no-repeat
    top: 10px
    height: 200px
    width: 200px
    margin: 0