@import shared.sass
#portfolio
    background: $bgcolor-3
    text-align: center
    .header
        padding: 1.5rem
        text-align: center
        color: $color-2
        h2
            border-left: dotted 1px #fff
            border-right: dotted 1px #fff
            display: inline-block
            padding: 0 1rem
            margin-bottom: 10px
    .grid
        background: $bgcolor-1
        border-radius: 20px 20px 0 0
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin: 0 auto
        max-width: 1300px
        min-height: 830px
        .not-found
            font-size: 40px
            color: #3b3b3b
            align-self: center
    .and-more
        background: white
        border-top: 1px solid black
        padding: 10px
        font-size: 1.2em
        a
            text-decoration: none


@media(min-width: 900px)
    #portfolio .grid
        margin: 10px auto 0 auto
        width: 80%