@import shared.sass

.search-bar
    display: flex
    input
        margin: 0 auto
        padding: 4px 20px
        border-radius: 30px
        font-size: 26px
        font-family: Arial, FontAwesome
        align-self: center
        flex-grow: 1